@{
    ViewData["Title"] = "Instructions";
}

<div id="displaybox">
    <h2>Instructions</h2>
    <p>
        The game is rather simple.  There are 10 trivia questions in each round about the countries around the world.  The game will automatically reset after 10 rounds.  There are two levels of game play.  The levels are as follows:
    <table>
        <tr><td><b>Level</b></td><td><b>Questions</b></td></tr>
        <tr><td>Easy</td><td>Flags Only</td></tr>
        <tr><td>Advanced</td><td>All Questions</td></tr>
    </table>
    <br />
    At the end of each round, the results along with the time taken to complete that round are displayed.  Select <b>Continue</b> for the next round, <b>Reset</b> to start a new game, or <b>Close</b> to quit the game.
    <br />
    <br />
    GOOD LUCK!
    <br />
    <br />
    <form action="Index">
        <input type="submit" value="Close" />
    </form>
    </p>
</div>
